.git
.eggs
.github
.nox
.pytest_cache
.venv
.vscode
build
dist
docs
*.egg-info
__pycache__
.editorconfig
.gitignore
.gitlab-ci.yml
Dockerfile
ansible-deploy
venv
.idea
docker-compose.*
.dockerignore
/app/tests